<a href="{{ path(route, params) }}" onclick="
if (confirm('Are you sure?')) 
{ 
var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'post'; f.action = this.href; 
var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'DELETE'); f.appendChild(m);
var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_token'); m.setAttribute('value', '{{ token }}'); f.appendChild(m);
f.submit(); 
};return false;"
><img src="{{ asset('bundles/blog/images/delete.png') }}" alt="Delete" title="Delete" /></a>
    
