a
{
    text-decoration: none;
    color: #3333FF;
}

a:visited
{
    text-decoration: none;
    color: #6666FF;
}

a:hover
{
    text-decoration: underline;
}

input
{

}

textarea
{
    width: 400px;
    height: 120px;
}

fieldset
{
    border: 1px solid #5050AA;
    padding: 1em;
}

legend
{
    padding: 0.2em 0.5em;
    font-weight: bold;
    color: #4040C0;
}

div#blogs, div#blog
{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3em;
}

div#comments
{
    width: 95%;
    margin: 0 auto;
}

div.blog, div.comment
{
    margin-top: 2em;
}

div.comment
{
    border-bottom: 1px solid #CACACA;
}

div.blogTitle
{
    float: left;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    color: #000083;
}

div.delete
{
    clear: right;
    float: left;
    margin-left: 1.3em;
    font-size: 1em;
}

div#blogBody
{
    font-size: 1.1em;
    color: #080844;
}

div.blogBody, div.commentBody
{
    text-indent: 15px;
    text-align: justify;
    margin-bottom: 0.5em;
}

div.blogFooter, div.commentFooter
{
    color: #606060;
    font-style: italic;
    text-align: right;
    margin: 0.5em 0;
}

div#addCommentBlog
{
    width: 450px;
    margin: 0 auto;
}

div.label
{
    margin-top: 0.8em;
    color: #303080;
}

div.render
{
    padding-left: 1.5em;
}

div#errors
{
    padding-left: 10%;
    color: red;
    font-weight: bold;
.}

div.error
{
    border: none;
}

.error
{
    border: 1px outset RED;
}

div.hook
{
    clear:both;
    height: 0;
    width: 0;
}
