{% extends "::layout.html.twig" %}

{% block body %}
{% if notNew is defined %}
<form action="{{ path('blog_update', {'blog_id': app.request.get('blog_id')}) }}" method="post">
{% else %}
<form action="{{ path('blog_create') }}" method="post">
  {% endif %}
  {{ form_errors(form) }}
  {{ form_field(form) }}
  <input type="submit" />
</form>
{% endblock body %}
