{% extends "BlogBundle::layout.html.twig" %}

{% block title %}New blog{% endblock title %}

{% block body %}
<div id="addBlog">
  {% include('BlogBundle:Blog:_form.html.twig') %}
</div>
{% endblock body %}
